In [21]:
#Add the Pandas dependency
import pandas as pd
import os

#Files to load

school_data_to_load = os.path.join("Resources/schools_complete.csv")

student_data_toload = os.path.join("Resources/students_complete.csv")

school_data_df = pd.read_csv(school_data_to_load)

student_data_df = pd.read_csv(student_data_toload)

school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [22]:
# Determine if there are any missing values in the school data

school_data_df.count()

School ID      15
school_name    15
type           15
size           15
budget         15
dtype: int64

In [23]:
# Determine if there are any missing values in the student data.

student_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [24]:
# Determine if there are not any missing values in the school data.

school_data_df.notnull()

    School ID  school_name  type  size  budget
0        True         True  True  True    True
1        True         True  True  True    True
2        True         True  True  True    True
3        True         True  True  True    True
4        True         True  True  True    True
5        True         True  True  True    True
6        True         True  True  True    True
7        True         True  True  True    True
8        True         True  True  True    True
9        True         True  True  True    True
10       True         True  True  True    True
11       True         True  True  True    True
12       True         True  True  True    True
13       True         True  True  True    True
14       True         True  True  True    True

In [25]:
# Determine if there are any missing values in the student data.

student_data_df.isnull().sum()

Student ID       0
student_name     0
gender           0
grade            0
school_name      0
reading_score    0
math_score       0
dtype: int64

In [26]:
# Determine if there are not any missing values in the student data.

student_data_df.notnull().sum()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
dtype: int64

In [27]:
# Determine data types for the school DataFrame.

school_data_df.dtypes

School ID       int64
school_name    object
type           object
size            int64
budget          int64
dtype: object